doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' href='/style.css')
        link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
        title PeAR - sessions

    body
        include header

        #report.centered
            h1 Sessions
            .responsiveTable
                table
                    tr
                        th ID
                        th Game - Build - Level
                        th Date
                        th Status
                    each session in sessions
                        tr
                            td: a(href='/sessions/' + session._id) #{session._id}
                            td #{session.game} - #{session.build} - #{session.scene}
                            td #{session.startDate}
                            .v-centered
                                td(style='padding:0 10px 0 10px')
                                    if session.status
                                        #validated.status VALIDATED
                                    else
                                        #failed.status FAILED

        include footer
