doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' href='/style.css')
        link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
        title PeAR - report

    body
        include header

        #report.centered
            section#session-infos
                .v-centered
                    h2 Session Report
                    if session.status
                        #validated.status VALIDATED
                    else
                        #failed.status FAILED
                ul
                    li game:
                        |
                        |
                        i #{session.game}
                    li build:
                        |
                        |
                        i #{session.build}
                    li scene:
                        |
                        |
                        i #{session.scene}
                    li start date:
                        |
                        |
                        i #{session.startDate}
                    li duration:
                        |
                        |
                        i #{session.duration} ms

            section#metrics
                h2 Metrics
                .v-centered
                    h3 Frames
                    if session.status
                        #validated.status VALIDATED
                    else
                        #failed.status FAILED
                #fpsChartContainer.chartContainer
                .processings
                    ul
                        each processing in session.processings
                            -
                                var processingDetails = processing.name +
                                    (processing.value == undefined ? '' : ': ' + processing.value);

                            .v-centered
                                li #{processingDetails}
                                if processing.status != undefined
                                    if processing.status
                                        #validated.status VALIDATED
                                    else
                                        #failed.status FAILED

            section#json
                h2 JSON result
                pre
                    code #{JSON.stringify(session,null, 4)}

        include footer

        script(src='https://canvasjs.com/assets/script/canvasjs.min.js')
        include load-chart.pug
