doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' href='/style.css')
        link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
        title PeAR - report

    body
        include header

        #report.centered
            section#session-infos
                h2.v-centered Session Report
                    if session.validated
                        #validated.status VALIDATED
                    else
                        #failed.status FAILED
                ul
                    li game: #[i #{session.game}]
                    li build: #[i #{session.build}]
                    li scene: #[i #{session.scene}]
                    li start date: #[i #{session.startDate}]
                    li duration: #[i #{session.duration} ms]

            section#metrics
                h2 Metrics
                each metricsManager in session.metricsManagers
                    .metric-manager
                        h3.v-centered #{metricsManager.name}
                            if metricsManager.validated
                                #validated.status VALIDATED
                            else
                                #failed.status FAILED
                        -
                            var id = metricsManager.name.toLowerCase()
                                .replace(' ', '-').concat('-chart-container');
                        div(id=id).chart-container
                        .processings
                            ul
                                each processing in metricsManager.processings
                                    -
                                        var processingDetails =
                                                processing.name +
                                                (processing.threshold == undefined ?
                                                        '' : ' (' + processing.threshold + ')') +
                                                (processing.value == undefined ?
                                                        '' : ': ' + processing.value);

                                    li.v-centered #{processingDetails}
                                        if processing.validated != undefined
                                            if processing.validated
                                                #validated.status VALIDATED
                                            else
                                                #failed.status FAILED

            section#json
                h2 JSON result
                pre
                    code #{JSON.stringify(session, null, 4)}

        include footer

        script(src='https://canvasjs.com/assets/script/canvasjs.min.js')
        include load-chart.pug
