doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' href='/style.css')
        link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
        title PeAR - sessions

    body
        include header

        #report.centered
            h1 Sessions - #[i #{sessions.length} results]
            .responsive-table
                table
                    tr
                        th ID
                        th Game - Build - Level
                        th Platform
                        th Date
                        th Duration
                        th Status
                    each session in sessions
                        tr
                            td: a(href='/sessions/' + session._id) #{session._id}
                            td #{session.game} - #{session.build} - #{session.scene}
                            td #{session.platform}
                            td #{session.startDate}
                            td #{session.duration} ms
                            td
                                .v-centered
                                    if session.validated
                                        #validated.status VALIDATED
                                    else
                                        #failed.status FAILED

        include footer
