doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' href='/style.css')
        link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
        title PeAR - report

    body
        include header

        #report.centered
            section#session-infos
                h2 Session Report
                    if session.status
                        span#validated.status validated
                    else
                        span#failed.status failed
                ul
                    li game:
                        |
                        |
                        span.infos #{session.game}
                    li build:
                        |
                        |
                        span.infos #{session.build}
                    li start date:
                        |
                        |
                        span.infos #{session.startDate}
                    li scene:
                        |
                        |
                        span.infos #{session.scene}
                    li duration:
                        |
                        |
                        span.infos #{session.duration}

            section#metrics
                h2 Metrics
                h3 Frames
                    if session.status
                        #validated.status validated
                    else
                        #failed.status failed
                #fpsChartContainer.chartContainer
                .processings
                    ul
                        each processing in session.processings
                            -
                                var processingDetails = processing.name +
                                    (processing.value == undefined ? '' : ': ' + processing.value);

                            li #{processingDetails}
                            if processing.status != undefined
                                if processing.status
                                    #validated.status validated
                                else
                                    #failed.status failed



            section#json
                h2 JSON result
                pre
                    code #{JSON.stringify(session,null, 4)}

        include footer

        script(src='https://canvasjs.com/assets/script/canvasjs.min.js')
        include load-chart.pug
